# Python related files
__pycache__/
*.py[cod]
*.so

# Test output
test_infra/dump
test_infra/cdns_test_res
test_infra/cdns_fallback_test_res
test_infra/fwd_test_res
test_infra/recursive_test_res

# System files
.DS_Store

# data_process
data_process/traffic

# downloaded sources
docker_images/knot-3.1.8.tar.xz
docker_images/knot-resolver-5.5.0.tar.xz